@font-face {
    font-family: 'Fascinate Inline';
    src: url(../fonts/fascinateinline-regular-webfont.woff2);
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.uppercase {
    text-transform:uppercase;
}

body {
    /*background-color:rgb(15, 233, 233);*/
    background-image: url(../images/snowflakes.jpg);
    font-family: 'Peralta', serif;
}

.header {
    /*background-color: rgba(13, 244, 244, 0.7);*/
    background-image: url(../images/winter-tree.jpg);
    font-size: 6rem;
}

.main {
    background-color: rgba(255,255,255, 0.7);
}

h1 {
    font-family: 'Fascinate Inline', sans-serif;
    font-size: 6rem;
    text-align: center;
    line-height: 2;
}

p {
 font-family: 'Lato', sans-serif;
 font-size: 2rem;
}